html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 600px;
  height: 400px;
  position: absolute;
  z-index: 8;
}

#logo {
  position: absolute;
  z-index: 9;
  right: 0px;
  top: 8px;
}

#add-pin-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 700;
}
#filter-pins-button {
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 700;
}

.button--active {
  background-color: rgb(141, 191, 204);
}


/*/////////////////////////////////*/
.mdl-dialog-my-content{
  padding: 70px 0px 10px;
  position: relative;
  overflow: auto;
  /*padding: 5px;
  overflow: auto;
  display: block;
  align-self: center;*/

}
.center_items {
  display: flex;
  justify-content: center;
}
.h4-text-size{
  font-family: 'Exo';
  color: #ffffff;
  font-size: 180% ;
  text-align: center;
  font-weight: 200%;
}

.h3-text{
  font-family: 'Assistant', sans-serif;
  color: #ffffff;
  font-size: 130%;
  text-align: center;
  padding: 15px;
  margin: 0px;
}

.b{
  position: absolute;
    font-weight: bold;
    font-size: large ;
    right: -10px;
    top: 0px;
    color: #ffffff;
}

#back {
   width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.432);
  z-index: 800;
}

.fixed-title{
  padding: 0px 0px 20px;


  overflow: hidden;
  position: fixed;
  display: block;
  width: 80%;
  background-color: #383838;
  z-index: 10;

}

.titleEnter {
  padding: 5px ;
  display: block;
  background-color: rgb(97, 32, 40);
  z-index: 10;
}

/*this is for the add of the description of the icon*/
.my-fancy-container {
  font-family: 'Exo';
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

.my-text {
  display: block;
}

.button{
  border: none;
  right: 50%;
  
}
.info_style{
  position: absolute;
  z-index: 9;
  right: 10px;
  bottom: 150px;

}
.info-menu{
  padding: 0px 0px 0px;

  z-index: 1000;

}
.info-text{
  padding: 2px 2px 2px;

  float: left;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: center;


}

.info-but{
  vertical-align: middle;

  border: 0px solid white;
  padding: 0;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
.info-border{
    padding: 10px 10px 10px;
    text-align: center;

}
.phone{

  color: rgb(3, 69, 85);
  float: right;
  display: block;
  border-radius: 5px;
}




/*
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
  <div class="container">
    <div class="row">
      <form action="tel:03-7247870"><button class="btn btn-lg btn-success col-xs-12 call-us"><span ></span>Contact TLV Municipality</button></form>
    </div>
  </div>
.container {
  margin-top: 0px;
}
.call-us {
  float: right;
}
*/



.dialog-size-view {/*this is the size of the dialog of adding new marker*/
 padding: 0px 0px 0px;

 width: 80%;
 height: 80%;
 background-color: rgb(255, 255, 255, 0.9);/*0.9 is the Transparency*/
 overflow: auto;
  z-index: 5;
}


#EnterModal {
  border: 3px solid rgba(97, 32, 40, 0.507);
  display: block; 
  z-index: 1000; /* Sit on top */
  position: absolute;
  background-color: rgb(255, 255, 255);
  overflow: auto;
  padding: 5px;
  width: 80%;
  top: 10%;
  box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 5px 5px 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#yes {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

#no{
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

#EnterText{
  font-family: 'Assistant', sans-serif;
}

#EnterModalTop {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
}

body { padding: 0; margin: 0; } #map { height: 100%; width: 100vw; }


@media only screen and (min-width: 640px) {
  .my-dialog {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .my-dialog {
    width: 30%;
  }
}


@media only screen and (min-width: 1024px) {
  .my-dialog {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .my-dialog {
    width: 30%;
  }
}
