html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 600px;
  height: 400px;
  position: absolute;
  z-index: 8;
}

#logo {
  position: absolute;
  z-index: 9;
  right: 0px;
  top: 8px;
}

#add-pin-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
#filter-pins-button {
  position: absolute;
  bottom: 80px;
  right: 10px;
  z-index: 1000;
}

.button--active {
  background-color: rgb(141, 191, 204);
}


/*/////////////////////////////////*/
.mdl-dialog-my-content{
  padding: 70px 0px 0px;
  position: relative;
  overflow: auto;
  /*padding: 5px;
  overflow: auto;
  display: block;

  align-self: center;*/

}

.h4-text-size{
  font-family: 'Exo';
  color: #ffffff;
  font-size: 180% ;
  text-align: center;
  font-weight: 200%;
  padding: 15px 0px 0px;
}

.b{
  position: absolute;
    font-weight: bold;
    font-size: large ;
    right: -10px;
    top: 0px;
    color: #ffffff;
}



.fixed-title{
  padding: 0px 0px 20px;


  overflow: hidden;
  position: fixed;
  display: block;
  width: 80%;
  background-color: #383838;
  z-index: 10;

}


/*this is for the add of the description of the icon*/
.my-fancy-container {
  font-family: 'Exo';
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

.my-text {
  display: block;
}

.button{
  border: none;
  right: 50%;
  
}
.info_style{
  position: absolute;
  z-index: 9;
  right: 10px;
  bottom: 150px;

}
.info-menu{
  padding: 0px 0px 0px;

  z-index: 1000;

}
.info-text{
  padding: 2px 2px 2px;

  float: left;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  display: block;
  text-align: center;


}

.info-but{
  vertical-align: middle;

  border: 0px solid white;
  padding: 0;
  width: 200px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  background-color: rgb(255, 255, 255);
  z-index: 10;
}
.info-border{
    padding: 10px 10px 10px;
    text-align: center;

}
.phone{

  color: rgb(3, 69, 85);
  float: right;
  display: block;
  border-radius: 5px;
}




/*

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    
  <div class="container">
    <div class="row">
      <form action="tel:03-7247870"><button class="btn btn-lg btn-success col-xs-12 call-us"><span ></span>Contact TLV Municipality</button></form>
    </div>
  </div>

.container {
  margin-top: 0px;
}

.call-us {
  float: right;
}

*/



.dialog-size-view {/*this is the size of the dialog of adding new marker*/
 padding: 0px 0px 0px;

 width: 80%;
 height: 80%;
 background-color: rgb(255, 255, 255, 0.9);/*0.9 is the Transparency*/
 overflow: auto;
  z-index: 5;
}



body { padding: 0; margin: 0; } #map { height: 100%; width: 100vw; }


@media only screen and (min-width: 640px) {
  .my-dialog {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .my-dialog {
    width: 30%;
  }
}


@media only screen and (min-width: 1024px) {
  .my-dialog {
    width: 40%;
  }
}

@media only screen and (min-width: 1200px) {
  .my-dialog {
    width: 30%;
  }
}